# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore build directory
build*/
build-ui*/

# ignoe package
package_dir*/
ChessEngine_Lilia*

# Ignore CMake files directory
CMakeFiles/

# Ignore VS Code settings directory
.vscode/

# ignore generated texel data
/texel_data/
